#mockNav {
  height: 700px;
  border: 1px solid pink;
  width: 250px;
}

.red {
  background-color: rgba(255, 0, 0, 0.3);
  overflow: hidden;
  height: 100%;
}

.blue {
  overflow: hidden;
  background-color: rgba(0, 0, 255, 0.3);
  height: 100%;
}
