<button (click)="showBottom = !showBottom">toggle bottom</button>

<div id="mockNav">
  <resizeable-panel>
    <div class="red" top>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam volutpat
      tellus suscipit, ornare nibh vel, condimentum nibh. Cras varius pulvinar
      tempus. Pellentesque lobortis suscipit sem, quis egestas felis vulputate
      non. Fusce rutrum lacus molestie, mattis sem a, tristique ex. Ut eget
      lorem felis. Aliquam iaculis congue nibh. Aenean vestibulum convallis urna
      ac vulputate. Donec gravida est libero, vel ultrices ante interdum
      blandit. Sed tincidunt quis mi bibendum molestie. Etiam ornare, sapien sit
      amet pretium elementum, metus ante vulputate tortor, ut eleifend tellus
      augue vel nisl. In rutrum dictum justo. Maecenas accumsan vitae massa eu
      accumsan. Vestibulum fringilla leo sit amet libero posuere finibus. Fusce
      rutrum congue augue, nec consectetur felis egestas eu. Sed felis risus,
      mollis ac nisl eu, sollicitudin blandit velit. Duis sagittis nibh vitae
      leo tempor ornare. Donec ultricies neque sapien, maximus tempor odio
      bibendum eu. Vestibulum ante ipsum primis in faucibus orci luctus et
      ultrices posuere cubilia curae; Phasellus magna dolor, tincidunt sed
      pellentesque in, commodo ut augue. Ut placerat magna vitae vulputate
      semper. Morbi posuere libero purus. Suspendisse potenti. Mauris euismod
      odio magna, in tincidunt purus luctus sed. Vestibulum massa orci, mattis
      eu tellus nec, vulputate consequat lorem. In accumsan, dolor sit amet
      porta accumsan, magna quam mollis nisi, sed tempor odio purus eget odio.
      Duis vestibulum vestibulum neque, eu molestie tortor semper a. In a
      fermentum justo, sit amet tempor mi. Suspendisse malesuada turpis id
      varius ultrices. Maecenas tempor quam scelerisque elit iaculis, porta
      maximus mi efficitur. Quisque tempus lectus nec viverra tincidunt. Aenean
      sed velit id elit facilisis sagittis non eget purus. Cras lacus urna,
      finibus non venenatis at, hendrerit a neque. Aliquam euismod mollis massa,
      mattis ultricies magna efficitur eget. Donec elementum vel orci ac
      eleifend. Cras a libero commodo, condimentum mi eu, porta arcu. Cras
      fermentum at arcu eu tristique. Sed et posuere risus. Vestibulum magna
      ligula, ultricies sit amet egestas sed, condimentum ullamcorper orci.
      Vivamus sollicitudin, neque a eleifend iaculis, magna orci bibendum risus,
      sit amet rhoncus massa est tristique nulla. Aliquam congue nulla libero,
      eu blandit massa ullamcorper venenatis. Donec molestie felis sed sem
      imperdiet, at tincidunt nisi blandit. Phasellus a erat posuere, hendrerit
      nisl in, efficitur nunc. Donec consectetur mauris vel odio lacinia, id
      placerat nisi euismod. Maecenas pulvinar sapien justo, et blandit urna
      dictum ac. Proin fermentum tortor erat, sed lacinia enim blandit at.
      Aliquam vitae ligula at tortor auctor facilisis. Nunc et dignissim justo,
      non lobortis odio. Pellentesque odio libero, congue ac condimentum a,
      gravida ac est. Morbi in pulvinar elit, sit amet aliquet felis.
      Suspendisse molestie, mauris eu malesuada tristique, mauris magna auctor
      enim, eget varius arcu nulla a magna. Aliquam vitae vulputate lorem. Etiam
      quis consectetur libero, ac cursus eros. Maecenas sed diam ullamcorper,
      volutpat odio sagittis, molestie augue. Donec sollicitudin massa vitae
      pretium vestibulum.
    </div>
    <div class="blue" bottom *ngIf="showBottom">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam volutpat
      tellus suscipit, ornare nibh vel, condimentum nibh. Cras varius pulvinar
      tempus. Pellentesque lobortis suscipit sem, quis egestas felis vulputate
      non. Fusce rutrum lacus molestie, mattis sem a, tristique ex. Ut eget
      lorem felis. Aliquam iaculis congue nibh. Aenean vestibulum convallis urna
      ac vulputate. Donec gravida est libero, vel ultrices ante interdum
      blandit. Sed tincidunt quis mi bibendum molestie. Etiam ornare, sapien sit
      amet pretium elementum, metus ante vulputate tortor, ut eleifend tellus
      augue vel nisl. In rutrum dictum justo. Maecenas accumsan vitae massa eu
      accumsan. Vestibulum fringilla leo sit amet libero posuere finibus. Fusce
      rutrum congue augue, nec consectetur felis egestas eu. Sed felis risus,
      mollis ac nisl eu, sollicitudin blandit velit. Duis sagittis nibh vitae
      leo tempor ornare. Donec ultricies neque sapien, maximus tempor odio
      bibendum eu. Vestibulum ante ipsum primis in faucibus orci luctus et
      ultrices posuere cubilia curae; Phasellus magna dolor, tincidunt sed
      pellentesque in, commodo ut augue. Ut placerat magna vitae vulputate
      semper. Morbi posuere libero purus. Suspendisse potenti. Mauris euismod
      odio magna, in tincidunt purus luctus sed. Vestibulum massa orci, mattis
      eu tellus nec, vulputate consequat lorem. In accumsan, dolor sit amet
      porta accumsan, magna quam mollis nisi, sed tempor odio purus eget odio.
      Duis vestibulum vestibulum neque, eu molestie tortor semper a. In a
      fermentum justo, sit amet tempor mi. Suspendisse malesuada turpis id
      varius ultrices. Maecenas tempor quam scelerisque elit iaculis, porta
      maximus mi efficitur. Quisque tempus lectus nec viverra tincidunt. Aenean
      sed velit id elit facilisis sagittis non eget purus. Cras lacus urna,
      finibus non venenatis at, hendrerit a neque. Aliquam euismod mollis massa,
      mattis ultricies magna efficitur eget. Donec elementum vel orci ac
      eleifend. Cras a libero commodo, condimentum mi eu, porta arcu. Cras
      fermentum at arcu eu tristique. Sed et posuere risus. Vestibulum magna
      ligula, ultricies sit amet egestas sed, condimentum ullamcorper orci.
      Vivamus sollicitudin, neque a eleifend iaculis, magna orci bibendum risus,
      sit amet rhoncus massa est tristique nulla. Aliquam congue nulla libero,
      eu blandit massa ullamcorper venenatis. Donec molestie felis sed sem
      imperdiet, at tincidunt nisi blandit. Phasellus a erat posuere, hendrerit
      nisl in, efficitur nunc. Donec consectetur mauris vel odio lacinia, id
      placerat nisi euismod. Maecenas pulvinar sapien justo, et blandit urna
      dictum ac. Proin fermentum tortor erat, sed lacinia enim blandit at.
      Aliquam vitae ligula at tortor auctor facilisis. Nunc et dignissim justo,
      non lobortis odio. Pellentesque odio libero, congue ac condimentum a,
      gravida ac est. Morbi in pulvinar elit, sit amet aliquet felis.
      Suspendisse molestie, mauris eu malesuada tristique, mauris magna auctor
      enim, eget varius arcu nulla a magna. Aliquam vitae vulputate lorem. Etiam
      quis consectetur libero, ac cursus eros. Maecenas sed diam ullamcorper,
      volutpat odio sagittis, molestie augue. Donec sollicitudin massa vitae
      pretium vestibulum.
    </div>
  </resizeable-panel>
</div>
