.resizeable-panel {
  border: 1px solid green;
  height: 100%;
  display: block;
  flex-direction: column;
}

.drag-handle {
  border: 2px solid;
  cursor: ns-resize;
}

.top {
  background-color: lightpink;
  height: calc(50% - 4px);
  display: block;
  position: relative;
}

.top:only-child {
  min-height: 100% !important;
}

.bottom {
  background-color: lightblue;
  height: calc(50% - 4px);
  display: block;
}

.drag-handle {
  transform: initial !important;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
